.cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.card img {
    border-radius: 5px;
    transition: transform 200ms;
}

.card:hover img {
    transform: scale(1.2);
}

.card p {
    background-color: white;
    bottom: 0;
    height: 50%;
    position: absolute;
    z-index: 10;
}

