body {
    background-color: grey;
}

.page {
    background-color: white;
    min-height: 185vh;
    margin-bottom: 15vh;
}

footer {
    align-items: center;
    bottom: 10px;
    display: flex;
    position: absolute;
    z-index: 1;
    }

address {
    font-size: .75em;
    padding-right: 2em;
    text-align: right;
    }

.socials li {
    display: inline-block;
    height: 2em;
    margin: 0 1em 0 1em;
    width: 2em;
    }