/* global */
:root {
    position: relative;
}

body {
    background-color: Dimgrey;
}

.page {
    background-color: FloralWhite;
    border-radius: 25px;
    box-shadow: 10px 0 30px -10px,
                -10px 0 30px -10px;
    min-height: 85vh;
    margin-top: .5em;
    margin-bottom: 6em;
    padding-top: 1px;
}

.navbar {
    border-radius: 25px;
    margin-top: 10px;
}

/* resume */
.cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    height: 400px;
    margin: .5em .125em .5em .125em;
    position: relative;
    width: 300px;
}

.imgBorder {
    overflow: hidden;
    padding: 4px;
}

.card img {
    filter: grayscale(1);
    border-radius: 5px;
    transition: transform 1000ms;
    width: 100%;
}

.card:hover img {
    filter: grayscale(0);
    transform: scale(1.2);
}

.card p {
    background-color: white;
    bottom: 0;
    height: 50%;
    padding: 5px;
    position: absolute;
    z-index: 10;
}

/* footer */
footer {
    align-items: center;
    animation: fadeIn ease-in-out 2000ms;
    bottom: .5em;
    display: flex;
    height: 5em;
    position: absolute;
    z-index: 1;
    }

footer a {
    color: Gainsboro;
}

footer a:hover {
    color: white;
}

address {
    color: lightgrey;
    font-size: .75em;
    padding-right: 2em;
    text-align: right;
    }

.socials li {
    display: inline-block;
    height: 2em;
    margin: 0 1em 0 1em;
    width: 2em;
}

.socials li:hover svg {
    fill: lightgrey;
    transition: fill 500ms;
}

/* animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}