footer {
    display: flex;
    align-items: center;
}

address {
    text-align: right;
    margin-right: 1em;
    font-size: .75em;
}

.socials li{
    width: 2em;
    height: 2em;
    margin: 0 1em 0 1em;
    display: inline-block;
}