{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Date</th>
                <td class="text-end">Type</td>
                <th class="text-center">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transaction %}
                <tr>
                    <form action="/buy" method="post">
                        <td class="text-start">{{ row["symbol"] }}</td>
                        <td class="text-start">{{ row["name"] }}</td>
                        <td class="text-start">{{ row["datetime"] }}</td>
                        <td class="text-start">{{ row["type"] }}</td>
                        <td class="text-end">{{ row["amount"] }}</td>
                        <td class="text-end">{{ row["price"] }}</td>
                        <td class="text-end">{{ row["sum"] }}</td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="5">Cash</td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="5">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
