{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block lookup %}

    <div class="container-fluid text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-start">Name</th>
                    <th class="text-end">Shares</th>
                </tr>
            </thead>
            <tbody>
                {% for row in portfolio %}
                        <tr>
                            <td class="text-start">{{ portfolio[symbol] }}</td>
                            <td class="text-start">{{ portfolio[amount] }}</td>
                            <td class="text-end">{{  }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="small text-center text-muted">Quotes are in real time, and may change when requesting to purchase</p>
    </div>

{% endblock %}
