{% extends "quote.html" %}

{% block lookup %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Cost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% For quote in quotes %}
                <tr>
                    <td name="symbol">{{ quote["symbol"] }}</td>
                    <td>{{ quote["name"]) }}</td>
                    <td>{{ quote["price"] }}</td>
                    <td>
                        <form action="/buy" method="post">
                            <div class="mb-3">
                                <button class="btn btn-primary" type="submit">Buy</button>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
