{% extends "quote.html" %}

{% block lookup %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {% For quote in quotes %}
                <tr>
                    <td>{{ quote["symbol"] }}</td> <!-- change [column] based on returned JSON file -->
                    <td>{{ float(quote["latestPrice"]) }}</td> <!-- change [column] based on returned JSON file -->
                    <td>{{ quote["price"] }}</td> <!-- change [column] based on returned JSON file -->
                    <td>
                        <form action="/buy" method="post">
                            <div class="mb-3">
                                <button class="btn btn-primary" type="submit">Buy</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="/quote" value="{{ quote.id }}" method="post">
                            <div class="mb-3">
                                <button class="btn btn-primary" name="deleteQuote" type="submit">Delete</button>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
